
.jumbotron {
  margin-top: 10%;
}

.jumbotron, #broadcastbtn, #watchbtn, #logo {
  box-shadow: 8px 8px 8px #888888;
}

#logo {
  height: 100px;
  width: 100px;
  margin-bottom: 100px;
}


#landing, #broadcastbody, #viewerbody, #eventbody, .thumbnail {
  background-color: #00d1b2;
  border: none;
}

#eventTag {
 background-color: #DADFE1;
 border-radius: 5px;
 height: 35px;
 outline: none;
}

#conspectioBroadcasterContainer {
  margin-top: 100px;
}

#videoContainer {
  margin: 2em auto 0;
  /*width: 500px;*/
  padding: 2em;
  background: #ECECEC;
  -webkit-box-shadow: 0 1px 10px #ECECEC;
  -moz-box-shadow: 0 1px 10px #ECECEC;
  -ms-box-shadow: 0 1px 10px #ECECEC;
  -o-box-shadow: 0 1px 10px #ECECEC;
  box-shadow: 0 1px 10px #ECECEC;
}

/*#startButton, #stopButton {
  border-radius: 35%;
}*/

#broadcasterStream {
  /*border: 1px solid #1E824C;*/
  margin-top: 25px;
  border-radius: 25px;
  width: 40%;
  height: 40%;
}

button {
  border-radius: 50%;
}

.videoDiv, .caption, #broadcasterinputs, .row {
  text-align: center;
  /*width: 100%;*/
}

h1#eventName {
  margin: 50px 0px 50px 0px;
}

div#conspectioViewerContainer.row.viewergridrow {
  margin: 20px 20px 20px 20px;
}

button.btn.btn-warning.btn-sm {
  margin-left: 50px;
}

.homeBtn {
  margin: 10px 0px 0px 20px;
}

.viewergridrow {
  margin-top: 10%;
}

.newVideo {
  /*border: 1px solid #6C7A89;*/
  border-radius: 10px;
  width: 80%;
  height: 80%;
}